<!Doctype html>
<html>
<head>
<title>Bienvenue sur ma premiere page de Symfony</title>
</head>
<h1>Bonjour à toi {{ nom }}</h1>
<body>
	<p>
		Le Hello World est un grand classique de la programmation.<br /> Il
		signifie beaucoup car signifiant qu'on a réussi à exécuter un truc.
	</p>
</body>
</html>